h_teo{
    font-family: 'Dancing Script', cursive;
    font-size: 46px;
    text-shadow: 3px 2px 7px #000000;
    color: red;
}

mybox{
    border-style: solid;
    border-width: 4px;
    width: 200px;
    height: 200px;
    padding: 50px 50px 50px 50px;
}