/*@import url(root.css);*/
:root {
    --text-size-xxl: 30px;
    --text-size-xl: 22px;
    --text-size-l: 18px;
    --text-size-m: 16px;
    --text-size-s: 14px;

    --shadow-text-black: -1px 1px 2px #898686e0;
    --shadow-text-white: -1px 1px 2px #e7e3e3e0;
}

.text-s {
    font-size: var(--text-size-s);
}

.text-m {
    font-size: var(--text-size-m);
}

.text-l {
    font-size: var(--text-size-l);
}

.text-xl {
    font-size: var(--text-size-xl);
}

.text-xxl {
    font-size: var(--text-size-xxl);
}

.text-shadow-black {
    text-shadow: var(--shadow-text-black);
}

.text-shadow-white {
    text-shadow: var(--shadow-text-white);
}
/* s - m - l - xl - xxl */